/**
 * digimarks styling
 */

/** Navigation **/

nav .sidenav-trigger
{
    /* Fix for misalignment of hamburger icon */
    margin: 0;
}

nav .sidenav-trigger i
{
    /* Make the hamburger icon great again */
    font-size: 2.7rem;
}

/** Cards and tags **/

.card .card-content,
.card .card-reveal
{
    padding: 12px;
}

.card.tiny
{
    height: 140px;
    overflow: hidden;
}

.card.tiny .card-title
{
    font-size: 18px;
}

.card .card-reveal .digimark-card-header,
.card .digimark-card-header.activator,
.chip.clickable
{
    cursor: pointer;
    /*display: block;*/
}

.card .digimark-card-header-tags
{
    padding-top: 10px;
}

.card-image i,
.list-image i
{
    padding: 5px 0 0 15px;
}

.card.horizontal .card-image img.favicon,
.list-image img.favicon
{
    height: 60px;
    width: 60px;
}
