{% extends "base.html" %}
{% if not action %}
    {% set action = 'Bookmarks' %}
{% endif %}
{% block title %}{{ action }}{% endblock %}
{% block page_header %}{{ action }}{% endblock %}
{% block page_content %}

    {% if message %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel orange lighten-2">
            <span class="white-text">
                {{ message }}
            </span>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col s12">
            <a href="{{ url_for('publictag_feed', tagkey=tagkey) }}"><i class="material-icons tiny">rss_feed</i>
                feed</a>
        </div>
    </div>

    {% include 'cards.html' %}

{% endblock %}
