{% extends "base.html" %}
{% block title %}Bookmarks{% endblock %}
{% block page_header %}Bookmarks{% endblock %}
{% block page_content %}
    <article
            x-init="$store.digimarks.userKey = '{{ user_key }}'; $store.digimarks.loadCache(); $store.digimarks.getBookmarks()"
            x-data="">

        <header>
            <nav class="menu">
                <ul>
                    <li><h1>digimarks</h1></li>
                    <li>
                        <button x-data @click="$store.digimarks.toggleTagPage()"
                                :class="$store.digimarks.showTags && 'active'">tags
                        </button>
                    </li>
                    <li>
                        <button @click="$store.digimarks.startAddingBookmark()">add bookmark</button>
                    </li>
                    <li>
                        <button @click="$store.digimarks.loopToNextTheme()" class="theme-toggle">theme</button>
                    </li>
                    <li><input x-model="$store.digimarks.search" placeholder="Search/filter..."></li>
                    <li x-show="$store.digimarks.loading"><i class="fa-solid fa-rotate-right fa-spin"></i></li>
                </ul>
            </nav>
        </header>

        <main>
            <section x-cloak x-show="$store.digimarks.showBookmarks" x-transition.opacity>
                <h1 x-bind:title="$store.digimarks.userKey">Bookmarks</h1>

                <p>
                    <button @click="$store.digimarks.sortAlphabetically()"
                            :class="$store.digimarks.sortTitleAsc && 'active'">a-z &darr;
                    </button>
                    <button @click="$store.digimarks.sortAlphabetically('desc')"
                            :class="$store.digimarks.sortTitleDesc && 'active'">z-a &uarr;
                    </button>
                    <button @click="$store.digimarks.sortCreated()"
                            :class="$store.digimarks.sortCreatedAsc && 'active'">date &darr;
                    </button>
                    <button @click="$store.digimarks.sortCreated('desc')"
                            :class="$store.digimarks.sortCreatedDesc && 'active'">date &uarr;
                    </button>
                    <button @click="$store.digimarks.toggleListOrGrid()"
                            :class="$store.digimarks.showBookmarksCards && 'active'">list or grid
                    </button>
                </p>

                <table x-cloak x-show="$store.digimarks.showBookmarksList">
                    <thead>
                    <tr>
                        <th colspan="2">&nbsp;</th>
                        <th>Title</th>
                        <th>Note</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="bookmark in $store.digimarks.filteredBookmarks" :key="bookmark.id">
                        <tr>
                            <td class="thumbnail">
                                <div class="card-thumb" x-show="bookmark.favicon"><img
                                        x-bind:src="'/content/favicons/' + bookmark.favicon"></div>
                            </td>
                            <td>
                                <div x-show="bookmark.starred" class="star"><i class="fa-fw fa-solid fa-star"></i>
                                </div>
                                <div x-show="bookmark.http_status !== 200 && bookmark.http_status !== 304"
                                     class="error"><i
                                        class="fa-fw fa-solid fa-triangle-exclamation"></i>
                                </div>
                            </td>
                            <td><a x-text="bookmark.title" x-bind:href="bookmark.url" target="_blank"></a></td>
                            <td x-text="bookmark.note"></td>
                            <td>
                                <template x-for="tag in bookmark.tag_list">
                                    <span x-text="tag" class="chip"></span>
                                </template>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                {#
                <ul x-cloak x-show="$store.digimarks.show_bookmarks_list">
                    <template x-for="bookmark in $store.digimarks.filteredBookmarks" :key="bookmark.id">
                        <li><a x-text="bookmark.title" x-bind:href="bookmark.url" target="_blank"></a></li>
                    </template>
                </ul>
#}
                <section x-cloak x-show="$store.digimarks.showBookmarksCards" class="cards">
                    <template x-for="bookmark in $store.digimarks.filteredBookmarks" :key="bookmark.id">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-thumb" x-show="bookmark.favicon"><img
                                        x-bind:src="'/content/favicons/' + bookmark.favicon"></div>
                                <div class="statuses">
                                    <div x-show="bookmark.starred" class="star"><i class="fa-fw fa-solid fa-star"></i>
                                    </div>
                                    <div x-show="bookmark.http_status !== 200 && bookmark.http_status !== 304"
                                         class="error"><i
                                            class="fa-fw fa-solid fa-triangle-exclamation"></i>
                                    </div>
                                    <div x-show="bookmark.note"><i class="fa-fw fa-regular fa-note-sticky"></i></div>
                                </div>
                                <div><a x-text="bookmark.title" x-bind:href="bookmark.url" target="_blank"></a></div>
                            </div>
                            <div class="card-footer">
                                <button title="show actions"><i class="fa-solid fa-square-caret-down"></i></button>
                                <div class="meta">
                                    <template x-for="tag in bookmark.tag_list">
                                        <span x-text="tag" class="chip"></span>
                                    </template>
                                </div>
                                {#                                <div x-text="bookmark.created_date" class="meta"></div>#}
                            </div>
                        </div>
                    </template>
                </section>
            </section>

            <section x-cloak x-show="$store.digimarks.showTags" x-transition.opacity>
                <h1>Tags</h1>

                <table>
                    <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Public link</th>
                        <th>Number of bookmarks</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="tag in $store.digimarks.filteredTags" :key="tag">
                        <tr>
                            <td x-text="tag"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </section>

            <dialog x-cloak id="editFormDialog"
                    x-transition:enter="modal-enter"
                    x-transition:enter-start="modal-enter"
                    x-transition:enter-end="modal-enter-active"
                    x-transition:leave="modal-leave-active"
                    x-transition:leave-start="modal-enter-active"
                    x-transition:leave-end="modal-enter">
                <h1>Add/Edit bookmark</h1>
                {#
                <div class="card-panel {{ theme.ERRORMESSAGE_BACKGROUND }}">
            <span class="error">
                {% if bookmark.http_status == 404 %}
                    <i class="material-icons">report_problem</i>&nbsp;&nbsp;URL not found (404), broken/outdated link?
                {% elif bookmark.http_status == 301 %}
                    <i class="material-icons">report_problem</i>&nbsp;&nbsp;HTTP status (301), moved permanently. Use button for new target
                {% elif bookmark.http_status == 302 %}
                    <i class="material-icons">report_problem</i>&nbsp;&nbsp;HTTP status (302), moved temporarily. Use button for new target
                {% elif bookmark.http_status == bookmark.HTTP_CONNECTIONERROR %}
                    <i class="material-icons">report_problem</i>&nbsp;&nbsp;Connection error, server might have been offline at the time of last edit
                {% else %}
                    <i class="material-icons">report_problem</i>&nbsp;&nbsp;HTTP status {{ bookmark.http_status }}
                {% endif %}
            </span>
                </div>
#}
                <form method="dialog">
                    <input type="text" name="">
                    <p>
                        <label>
                            <input type="checkbox" name="strip" id="strip"/>
                            <span>Strip parameters from url (like <em>?utm_source=social</em> - can break the link!)</span>
                        </label>
                    </p>
                    <div>
                        <button value="cancel">Cancel</button>
                        <button @click="$store.digimarks.saveBookmark()">Save</button>
                    </div>
                </form>
            </dialog>
        </main>

    </article>
{% endblock %}
