/**
 * digimarks styling
 */


/* Active element, e.g. a button */
.active {
    background-color: #fb8c00;
}

button:hover {
    background-color: #d57803;
}

button:focus {
    border-color: #d57803;
}
