/**
 * digimarks styling
 *
 * Overrides on and additions to the digui styling
 */

/* Star, error, note etc */
.card .statuses {
    display: flex;
    flex-direction: column;
}

.star {
    color: #ffeb3b;
}

.thumbnail {
    /*width: 80px;*/
    width: 66;
}

.thumbnail img {
    /*width: 72px;*/
    width: 60px;
}