<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - digimarks</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#2e7d32" />
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#2e7d32">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ url_for('static', filename='css/digimarks.css') }}?20170204" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body class="{{ theme.BODY }}">
        <nav class="{{ theme.NAV }}" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="{% if userkey %}{{ url_for('bookmarks', userkey=userkey) }}{% else %}{{ url_for('index') }}{% endif %}" class="brand-logo">digimarks</a>
                <ul class="right hide-on-med-and-down">
                    {% if userkey %}
                    <li><a href="{{ url_for('tags', userkey=userkey) }}">Tags</a></li>
                    <li><a href="{{ url_for('addbookmark', userkey=userkey) }}">Add bookmark</a></li>
                    {% endif %}
                </ul>

                {% if userkey %}
                <ul id="nav-mobile" class="side-nav">
                    <li><a class="waves-effect" href="{{ url_for('bookmarks', userkey=userkey) }}"><i class="material-icons">turned_in</i>Home</a></li>
                    <li><a class="waves-effect" href="{{ url_for('tags', userkey=userkey) }}"><i class="material-icons">label</i>Tags</a></li>
                    <li><a class="waves-effect" href="{{ url_for('addbookmark', userkey=userkey) }}"><i class="material-icons">add</i>Add bookmark</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                {% endif %}
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <div class="header {{ theme.PAGEHEADER }}">
                    <h1>{% block pageheader %}Bookmarks{% endblock %}</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section">
                {% block pagecontent %}
                {% endblock %}
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/init.js') }}"></script>

    </body>
</html>
