{% extends "base.html" %}
{% if not action %}
{% set action = 'Bookmarks' %}
{% endif %}
{% block title %}{{ action }}{% endblock %}
{% block pageheader %}{{ action }}{% endblock %}
{% block pagecontent %}

{% if tag and not publictag %}
<div class="row">
    <div class="col s12">
        <a href="{{ url_for('addpublictag', userkey=userkey, tag=tag) }}">Create public page <i class="material-icons right">tag</i></a>
    </div>
</div>
{% endif %}

{% if tag and publictag %}
<div class="row">
    <div class="col s12"><a href="{{ url_for('publictag', tagkey=publictag.tagkey) }}">Public link</a></div>
</div>
{% endif %}

{% if message %}
<div class="row">
    <div class="col s12">
        <div class="card-panel orange lighten-2">
            <span class="white-text">
                {{ message }}
            </span>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <form action="{{ url_for('bookmarks', userkey=userkey) }}" method="POST">
        <div class="input-field col l10 m10 s8">
            <input placeholder="filter" type="text" name="filter" id="filter" value="{{ filter }}" class="validate" />
        </div>

        <div class="input-field col l2 m2 s4">
            <p class="left-align"><button class="btn waves-effect waves-light" type="submit" name="submit">Filter</button></p>
        </div>
    </form>
</div>

{% if tags %}
<div class="row">
    <p>
    {% for tag in tags %}
    <div class="chip">
        <a href="{{ url_for('tag', userkey=userkey, tag=tag) }}">{{ tag }}</a>
    </div>
    {% endfor %}
    </p>
</div>
{% endif %}

<div class="row">
    {% for bookmark in bookmarks %}
    <div class="col s12 m6 l4">
        {#
        <div class="thumbnail">
            <a href="{{ bookmark.url }}" title="{{ bookmark.url }}">
                <img style="width:450px;" src="{{ bookmark.image }}" />
            </a>
            <p><a href="{{ bookmark.url }}">{{ bookmark.url|urlize(25) }}</a></p>
            <p>{{ bookmark.created_date.strftime("%m/%d/%Y %H:%M") }}</p>
        </div>
        #}
        <div class="card tiny green darken-3">
            <div class="card-content white-text">
                <span class="digimark-card-header activator">
                    {% for tag in bookmark.tags_list %}
                        <div class="chip">
                            <a href="{{ url_for('tag', userkey=userkey, tag=tag) }}">{{ tag }}</a>
                        </div>
                    {% endfor %}
                    <i class="material-icons right">more_vert</i>
                </span>
                    <div class="valign-wrapper digimark-card-content">
                    <div class="valign">
                        {% if bookmark.http_status != 200 %}
                            <i class="tiny material-icons" title="HTTP status {{ bookmark.http_status }}">report_problem</i>
                        {% endif %}
                        {% if bookmark.favicon %}
                            <img src="{{ url_for('static', filename='favicons/' + bookmark.favicon) }}" />&nbsp;
                        {% endif %}
                        <a href="{{ bookmark.url }}" title="{{ bookmark.url }}" rel="noreferrer">
                        {% if bookmark.starred == True %}
                            <i class="tiny material-icons yellow-text">star</i>
                        {% endif %}
                        {% if bookmark.title %}
                            {{ bookmark.title }}
                        {% else %}
                            [ no title ]
                        {% endif %}
                    </a></div>
                    </div>
            </div>
            <div class="card-reveal green darken-3">
                <span class="card-title white-text valign-wrapper">Added @ {{ bookmark.created_date.strftime('%Y-%m-%d %H:%M') }}<i class="material-icons right">close</i></span>
                <div class="white-text valign">
                {% if bookmark.favicon %}
                    <img src="{{ url_for('static', filename='favicons/' + bookmark.favicon) }}" />&nbsp;&nbsp;&nbsp;
                {% endif %}
                <a href="{{ url_for('editbookmark', userkey=userkey, urlhash=bookmark.url_hash) }}" style="padding: 3px"><i class="tiny material-icons">mode_edit</i> EDIT</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {#
    <div class="pagination">
        {% if page > 1 %}<a href="./?page={{ page - 1 }}">Previous</a>{% endif %}
        {% if pagination.get_pages() > page %}<a href="./?page={{ page + 1 }}">Next</a>{% endif %}
    </div>
    #}
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href="{{ url_for('addbookmark', userkey=userkey) }}">
      <i class="large material-icons">add</i>
    </a>
</div>
{% endblock %}
