<div class="row">
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Bookmark</th>
                <th>Added</th>
                {% if showtags %}
                <th>Tags</th>
                {% endif %}
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for bookmark in bookmarks %}
            <tr>
                <td>
                {% if bookmark.favicon %}
                    <img src="{{ url_for('static', filename='favicons/' + bookmark.favicon) }}" class="favicon" />
                {% else %}
                    <img src="{{ url_for('static', filename='faviconfallback.png') }}" class="favicon" />
                {% endif %}
                {% if bookmark.http_status != 200 and bookmark.http_status != 304 %}
                    <i class="small material-icons {{ theme.PROBLEM }}" title="HTTP status {{ bookmark.http_status }}">report_problem</i>
                {% endif %}
                {% if bookmark.starred == True %}
                    <i class="small material-icons {{ theme.STAR }}">star</i>
                {% endif %}
                {% if bookmark.note %}
                    <i class="small material-icons {{ theme.CARD_TEXT }}" title="{{ bookmark.note|truncate(100) }}">comment</i>
                {% endif %}
                </td>
                <td>
                    <a href="{{ bookmark.url }}" title="{{ bookmark.url }}" rel="noreferrer noopener" target="_blank">
                        {% if bookmark.title %}
                            {{ bookmark.title }}
                        {% else %}
                            {{ bookmark.get_uri_domain() }} (no title)
                        {% endif %}
                    </a>
                </td>
                <td>{{ bookmark.created_date.strftime('%Y-%m-%d %H:%M') }}</td>
                {% if showtags %}
                <td>
                {% for tag in bookmark.tags_list %}
                    <div class="chip">
                        <a href="{{ url_for('tag_page', userkey=userkey, tag=tag) }}">{{ tag }}</a>
                    </div>
                {% endfor %}
                </td>
                {% endif %}
                <td>
                    {% if editable %}
                    <a href="{{ url_for('editbookmark', userkey=userkey, urlhash=bookmark.url_hash) }}" style="padding: 3px"><i class="tiny material-icons">mode_edit</i> EDIT</a>
                    <a href="{{ url_for('deletingbookmark', userkey=userkey, urlhash=bookmark.url_hash) }}" style="padding: 3px" class="red-text"><i class="tiny material-icons">delete</i> DELETE</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
