<!doctype html>
<html>
    <head>
        <title>Redirecting - digimarks</title>
        <meta name="referrer" content="never">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv=refresh content="3; URL={{ url }}">
        <style>
            body { background-color: #000; color: #FFF; }
            a { color: #fb8c00; }
        </style>
    </head>
    <body>
        <p>You're being redirected. If nothing happens, <a href="{{ url }}">click here instead</a>.</p>
    </body>
</html>
